*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style:none;
    text-decoration: none;
}

:root{
    --grey: hsl(240, 9%, 89%);
    --black: hsl(240, 6%, 13%);
}

html,body{
    font-family: Roboto,Helvetica,Arial,sans-serif;
    height: 100%;
    -webkit-font-smoothing: antialiased;
    
}


body{
    display: grid;
    place-items: center ;
   
}

main{
    background: url(images/background.svg);
    width: 375px;
    height: 812px;
    color: var(--gray);
}

.container{
    max-width: 250px;
    text-align: center;
    margin: 0 auto;
    
    color: var(--grey);
}

.avatar {
    width: 10rem;
    margin: 11.5rem auto 24px;   
    position: relative;
}

.avatar > img {
    width: 10rem;
    height: 11.5rem;
    object-fit: cover;

    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);

}

.avatar span {
    position: absolute;
    top: -12px;
    left: 2px;
    z-index: 1;
    
}

h1{
    font-size: 1.5rem;
    margin-top: 1.5rem;
}

a {
    color: #F99C31;
    margin-top: .25rem;
    display: flex;
    align-items: center;
    justify-content:center;
    gap: .5rem;
    transition: hover .1 ease-in-out;

   
}

a:hover{
    filter: brightness(90%);
    
}
p{
    margin-top: 2rem;

}


.social-media ul{
    margin-top: 4rem;
    padding:0 ;
    display: flex;    
    justify-content: center;  
    gap: .5rem;
     
   /*  
    margin-top: 32px; */
}

